* {
    margin: 0;
    padding: 8px;
    background-color: #3a5a40;
}
@font-face {
    font-family: 'Capriola-Regular';
    /* Custom name for the font */
    src: url('./fonts/Capriola-Regular.ttf') format('truetype'),
         url('./fonts/Capriola-Regular.woff') format('woff');
    font-weight: normal;
    /* Adjust if you have multiple weights */
    font-style: normal;
}

body {
    text-align: center;
    font-family: 'Capriola-Regular', sans-serif;
    color: #a3b18a;
}

h1 {
    font-size: 40px;
    margin-top: 40px;
    color:#dad7cd;
}

input {
    border: 2px solid#344e41;
    font-size: 15px;
    color: white;
    width: 60%;
    max-width: 400px;
    padding: 18px;
    margin: 10px;
    border-radius: 30px;
    background-color: #588157;
}

input:focus {
    outline: none;
    border-color:#a3b18a;
}

input:hover {
    background-color: #a3b18a;
}

.submit-btn {
    padding: 12px 25px;
    background-color: #588157;
    color: white;
    border: 2px solid #344e41;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.submit-btn:hover {
    background-color: #a3b18a;
}

.todo-items {
    width: 60%;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 10px;
    color: #dad7cd;
    border: 3px solid #344e41;
    background-color: #a3b18a;
    border-radius: 10px;
}

.todo-items li {
    list-style-type: none;
    margin: 10px 0; /* Adds vertical space between list items */
    border: 4px solid #3a5a40;
    border-radius: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.btns {
    display: flex;
    gap: 5px;
}

.btns button {
    border: 2px solid #588157;
    color: #a3b18a;
    padding: 8px 16px;
    border-radius: 20px;
    background: #588157;
    cursor: pointer;
    font-size: 16px;
    flex-shrink: 0;
}

.btns button:hover {
    background: #3a5a40;
    color: #dad7cd;
}